<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  </head>
  <body>
      <h1 class="text-3xl font-bold underline">
        Hello world!
      </h1>
    <section id="app"></section>
  </body>
</html>
